<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" th:href="@{../css/styles.css}">
  </head>
  <body>
    
    <div class="header">
      <h1>Admin Dashboard</h1>
    </div>
    
    <div class="container">
      <h2>Welcome, [[${user.getFullname()}]]!</h2>

      <span sec:authorize="isAuthenticated">
        <a th:href="@{/logout}" class="link-custom">Logout</a>
      </span>

    </div>

  </body>
</html>
